# Please use the YaST Sysconfig editor to make changes. It makes documentation, available options, and
# defaults easily accessible.
production:
  attachments_storage_path: <%= ENV['OPENPROJECT_ATTACHMENTS_STORAGE_PATH'] || '/var/lib/openproject/files' %>
  
  log_level: <%= ENV['OPENPROJECT_LOG_LEVEL'] %>
  scm:
    subversion:
      group: www
      mode: 0770
      # This can be a local path using file:// (where OpenProject uses svnadmin), or an http:// path where OpenProject makes requests using a JSON API.
      manages: <%= ENV['OPENPROJECT_SUBVERSION_MGMT_URL'] %>
      # This is the key used by the repository management Perl script, not OpenProject itself. 
      access_token: <%= ENV['OPENPROJECT_SUBVERSION_REPOMAN_TOKEN'] %>
      # Determines whether the repository management URL's SSL token should be verified (if it is a remote path)
      insecure: <% ENV['OPENPROJECT_SUBVERSION_INSECURE_REPOMAN'] %>
    git:
      group: www
      mode: 0770
      manages: <%= ENV['OPENPROJECT_GIT_MGMT_URL'] %>
      access_token: <%= ENV['OPENPROJECT_GIT_REPOMAN_TOKEN'] %>
      insecure: <%= ENV['OPENPROJECT_GIT_INSECURE_REPOMAN'] %>
      #
      local_checkout_path: <%= ENV['OPENPROJECT_GIT_LOCAL_CHECKOUT_PATH'] || '/var/lib/openproject/repositories/cache/git' %>
